# Database Configuration
WA_STORE_DRIVER=postgres
WA_STORE_DSN=host=localhost port=5432 user=postgres password=admin123 dbname=wa_analisis sslmode=disable

# Server Configuration
PORT=9090
HOST=localhost

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

# Email Configuration (for OTP and notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
FROM_EMAIL=your_email@gmail.com
FROM_NAME=Cekwa.id

# Xendit Configuration
XENDIT_PUBLIC_KEY=xnd_public_development_Fb0ILTKO7agcnAJ50CKRqCnqxqZRIGPEXkSdmqMGHRZkmv7zrF4bxNq2k8jGvpq
XENDIT_SECRET_KEY=xnd_development_A1xSQyqdSiSqpMKtPkJesOJZg1poK3fValM4SB0gP1KWX6O4HznxnISDjSuip
XENDIT_WEBHOOK_TOKEN=UCSx3w6pLnrg3jCXodXX8EA462sTTwOKNXsqHjpmyS46aBNp
XENDIT_BASE_URL=https://api.xendit.co

# Environment
ENVIRONMENT=development